<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="text-center"><kbd> <%= meme.name%>'s Meme</kbd></h2>
    <div style = "background-color: rgb(182, 178, 178); border: 5px solid black; margin: 40px; padding: 20px">    
        <form action = "/<%= meme.id%>?_method=PUT" method = "POST">
            <div class = "form-group">
                <label for = "name" class = "form" >Name </label>
                <input value = "<%= meme.name%>" type="text" name = "name" class = "form-control">
            </div>
            <div class = "form-group">
                <label for = "caption" class = "form">Caption </label>
                <input value = "<%= meme.caption%>" type="text" name = "caption" class = "form-control">
            </div>
            <div class = "form-group">
                <label for = "link" class = "form">Link</label>
                <input value = "<%= meme.link%>" type="text" name = "link" class = "form-control">
            </div>

            <!-- A preview of the meme that already exists -->

            <div style = "margin: 5px">
                <h3 style = "text-decoration: underline">Meme Preview</h3>
                <a href = <%= meme.link%>><img src = <%= meme.link%> height="250" width ="250" style="border:5px double black; margin-top: 20px" class="rounded" ></a>
            </div>
    
            <button type="submit" class = "btn btn-info">CONFIRM CHANGES</button>
        </form>
    </div> 
</body>
</html>